form {
  width: 100%;
}

.form-header {
  text-align: center;
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mt-20 {
  margin-top: 20px;
}

.small-img {
  width: 80px;
}

.cart {
  display: flex;
}
.cart-info {
  margin-bottom: 20px;
}

.cart-items {
  margin-left: auto;
  min-width: 400px;
  padding: 40px;
  margin-right: 20px;
  margin-top: 20px;
}

.cart-list-item {
  margin-top: 20px;
}

.totalprice {
  margin-top: 20px;
  margin-bottom: 0;
}

.delete-icon {
  cursor: pointer;
}

.mb-0 {
  margin-bottom: 0;
}

.container {
  padding: 60px;
  display: flex;
  flex-direction: column;
}

.container>* {
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  margin-top: 20px;
  width: 500px;
}
