.form-header {
  text-align: center;
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mt-20 {
  margin-top: 20px;
}

.small-img {
  width: 80px;
}

.cart {
  display: flex;
  justify-content: space-around;
}

.cart-info {
  width: 50vw;
}

form {
  width: 50vw;
}

.wrapper {
  min-width: 304px;
  max-width: 500px;
  padding: 40px;
}

.cart-list-item {
  margin-top: 20px;
}

.totalprice {
  margin-top: 20px;
  margin-bottom: 0;
}

.delete-icon {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.container>* {
  width: 100%;
  min-width: 320px;
  max-width: 500px;
  margin-top: 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.cart-items>* {
  width: 100%;
  margin-top: 20px;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0 !important;
}

@media (max-width: 800px) {
  .cart {
    flex-direction: column;
  }

  .cart-info {
    width: 100vw;
  }

  form {
    width: 100vw;
  }

  .wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

@media(max-width: 380px) {
  .wrapper {
    padding: 28px;
  }
}

@media (max-width: 326.5px) {
  .wrapper {
    padding: 0;
  }
} 